*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgrey !important;
}
a{
    text-decoration: none;
    color: pink!important;
}
.error{
    background-color: rgb(248, 182, 182) !important;
    border: solid red 3px;
}
.title{
    display: flex;
    justify-content: center;
    color: pink;
}
.title label{
    font-size: 30px;
    color: pink;
}
.header-top{
    background-color: black;
    text-align: center;
    border-bottom: pink solid 5px;
}
.sub-header{
    text-align: center;
    margin-top: 20px;
    width: 40%;
    background-color: pink;
    border: solid 3px black;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}
#petCount{
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
}
#petNames{
    display: block;
    text-align: center;
    line-height: 2;
    font-size: large;
    margin-bottom: 50px;
}
img{
    display: block;
    border-radius: 11px;
    width: 300px;
    margin-top: 20px;
}

.pet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-container{
    background-image:url(Images/paws\ 5.jpg);
    background-size: contain;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    border: solid black 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 800px;
}
.form-container h2{
    background-color: black;
    color: pink;
    border-radius: 10px;
    width: 70%;
    text-align: center;
    margin-top: 20px;
}
.form-container2{
    background-color: black;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    border: solid black 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 600px;
}
.form-container2 h2{
    color: pink;
    border: pink solid 3px;
    border-radius: 10px;
    width: 70%;
    text-align: center;
    margin-top: 20px;
}
.form-control{
    display: flex;
}
.form-select{
    width: 220px !important;
}
.mb-3 label{
    font-weight: bold;
    font-size: 20px !important;
    border: 2px solid pink;
    border-radius: 10px;
    color: pink;
    background-color: black;
}
.animal-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.card{
    margin-right: 20px;
    margin-top: 40px;
    height: 420px !important;
    border-radius: 20px !important;
    border: solid 7px pink !important;
    background-color: black !important;
}
.card-title{
    text-decoration: underline;
    font-weight: bold;
    margin-top: -10px;
    padding-bottom: 22px;
    color: pink !important;
}
.card-text{
    margin-top: -20px;
    padding-top: 3px;
    color: white;
}
.carousel-item img{
    height: 200px !important;
    margin-top: 0px !important;
}
.hide{
    display: none;
}
@media(max-width:768px){
    .animal-cards{
        display: block;
    }
}
footer{
    background-color: black;
    color: pink;
    text-align: center;
    margin-top: 20px;
}
footer label{
    font-size: 25px;
}
textarea{
    max-height: 120px;
}