*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgrey;
}
a{
    text-decoration: none;
}
.header-top{
    background-color: rgb(206, 206, 130);
    text-align: center;
    border-bottom: rgb(165, 123, 44) solid 5px;
    
}
#petCount{
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
}
#petNames{
    display: block;
    text-align: center;
    line-height: 2;
    font-size: large;
    margin-bottom: 50px;
}
img{
    display: block;
    border-radius: 20px;
    width: 300px;
    margin-top: 20px;
}

.pet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-container{
    background-color: lightgray;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    border: solid black 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 500px;
}
.form-control{
    display: flex;
    width: 80%;
    
}
.animal-cards{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.card{
    margin-right: 20px;
    margin-top: 40px;
}
